a {
  display: inline-block;
  top: 50%;
  font-size: calc(var(--font-size-ui) / 2);
  width: 50%;
  text-align: center;
  color: var(--ui-font-color) !important;
}

#global {
  left: 0;
}

#local {
  right: 0;
}